@media screen and (max-width: 550px) {

    main {
        padding: 0 8vw;
    }


    #sidePanal {
        display: none;
    }

    #MsTrailer,
    #trailerIcon {
        display: none;
    }

    #mainLogo a {
        display: none;
    }

    .slide > img {
        height: 80%;
        margin: 10px;
    }

}