@media screen and (max-width: 1000px) {

    #MsTrailer,
    #trailerIcon {
        display: none;
    }
}

@media screen and (max-width: 600px) {

    #main {
        width: 100%;
    }

    main {
        padding: 0 8vw;
    }


    #sidePanal {
        display: none;
    }

    #mainLogo a {
        display: none;
    }

    .slide>img {
        height: 60%;
        margin: 10px;
    }

    .text_div {
        background-color: #a5477e42;
        border-radius: 10px;
    }

    .text_div>h4 {
        font-size: 20px;
        color: #311c7e;

    }

    .text_div>p {
        font-size: 12px;
    }

    .hide_p {
        display: none;
    }

    .hide_not {
        display: inline;
    }


}