@media screen and (max-width: 1000px) {

    #MsTrailer,
    #trailerIcon {
        display: none;
    }
}

@media screen and (max-width: 600px) {

    #main {
        width: 100%;
    }

    main {
        padding: 0 8vw;
    }


    #sidePanal {
        display: none;
    }

    #mainLogo a {
        display: none;
    }

    .slide>img {
        height: 60%;
        margin: 10px;
    }

}